{{ define "admin_footer" }}
<div class="container">
<footer class="footer">
    <div class="container"  style="margin-top: 200px; horiz-align: center; vertical-align: center">
        <nav>

            <p class="copyright text-center"><span>copyright</span>
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <a href="#">Redsum Blu Hotel</a>,
            </p>
        </nav>
    </div>
</footer>
</div>
{{ end }}