{{ define "admin.user.update.layout" }}
    <div class="wrapper">
        {{ template "sidebar" . }}
        <div class="main-panel">
            {{ template "navbar" . }}
            {{ template "admin.user.update.content" . }}
            {{ template "admin_footer" . }}
        </div>
    </div>
{{ end }}

{{ define "admin.user.update.content"}}
    <body>
    <!-- Default form register -->
    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33 align-self-md-center">
        <form class="text-center border border-light p-2 " method="post" action="/admin/users/update" autocomplete="off">
            <p class="h4 mb-4">Update User</p>
            <input type="hidden" name="_csrf" value="{{ .FormInputs.CSRF }}" />
            <input class="form-control" type='hidden' name='userid' value='{{ .FormInputs.Values.Get "userid" }}' />
            <label for="fullname" class="col-md-10">Fullname</label>
            <input id="defaultRegisterFormFirstName" autocomplete="off" class="form-control mb-4" value="{{ .FormInputs.Values.Get "fullname" }}" type="text" name="fullname" placeholder="Full Name">
            {{with .FormInputs.VErrors.Get "fullname"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <!-- E-mail -->
            <label for="email" class="col-md-10">Email</label>
            <input type="email" name="email" autocomplete="off" id="defaultRegisterFormEmail"  value="{{ .FormInputs.Values.Get "email" }}"  class="form-control mb-4" placeholder="E-mail">
            {{with .FormInputs.VErrors.Get "email"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <label for="phone" class="col-md-10">Phone</label>
            <input id="defaultRegisterFormFirstName" autocomplete="off" value="{{ .FormInputs.Values.Get "phone" }}"  class="form-control mb-4" type="text" name="phone" placeholder="Phone Number">
            {{with .FormInputs.VErrors.Get "phone"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <label for='role' class='col-form-label'>Role (Current: {{ .FormInputs.Values.Get "rolename" }})</label>
            {{with .FormInputs.VErrors.Get "role"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <select required name='role' id='role' class='form-control'>
                <option value='' disabled selected>Select Role</option>
                {{ range .Roles }}
                    <option value='{{ .ID }}'> {{ .Name }}</option>
                {{ end }}
            </select>

            <!-- Sign up button -->
            <input  class="btn btn-info my-4 btn-block" type="submit"/>

        </form>
    </div>
    <!-- Default form register -->
    <script src="../../assets/vendor/bootstrap/js/popper.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    </body>
{{ end }}