
{{ define "sidebar" }}
<div class="container">
<div class="sidebar" data-image="./assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.aait.edu.et/3rd/se/section_02/project_work_2019" class="simple-text">
                Admin Team
            </a>
        </div>
        <ul class="nav">

            <li>
                <a class="nav-link" href="/admin/rooms">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Rooms</p>
                </a>
            </li>
            
            <li>
                <a class="nav-link" href="/admin/news">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>News</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/events">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>Events</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/orders">
                    <i class="nc-icon nc-notes"></i>
                    <p>Orders</p>
                </a>
            </li>
            
            <li>
                <a class="nav-link" href="/admin/com">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Feedback</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/users">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Users</p>
                </a>
            </li>
            </ul>
    </div>
</div>
</div>
{{ end }}